{% assign author = include.author %}
{% assign container_class = include.container_class %}
{% assign avatar_size = include.avatar_size %}
<div class="{{ container_class }}">
	{% assign author_data = author | get_data %}
	{% assign link_is_not_empty = author_data.link | is_not_empty %}
	{% if link_is_not_empty %}
	<a class="flex items-center" href="{{ author_data.link | relative_url }}">
		{% assign photo_is_not_empty = author_data.photo | is_not_empty %}
		{% if photo_is_not_empty %}
		<figure class="avatar mr-1{% if avatar_size == 'small' %} avatar--small{% endif %}">
			<img class="avatar__img" src="{{ author_data.photo | relative_url }}" alt="{{ author_data.first_name }}{% assign last_name_is_not_empty = author_data.last_name | is_not_empty %}{% if last_name_is_not_empty %} {{ author_data.last_name }}{% endif %} Photo" />
		</figure>
		{% endif %}
		<span>{{ author_data.first_name }} {{ author_data.last_name }}</span>
	</a>
	{% else %}
	<div class="flex items-center">
		{% assign photo_is_not_empty = author_data.photo | is_not_empty %}
		{% if photo_is_not_empty %}
		<figure class="avatar mr-2{% if avatar_size == 'small' %} avatar--small{% endif %}">
			<img class="avatar__img" src="{{ author_data.photo | relative_url }}" alt="{{ author_data.first_name }}{% assign last_name_is_not_empty = author_data.last_name | is_not_empty %}{% if last_name_is_not_empty %} {{ author_data.last_name }}{% endif %} Photo" />
		</figure>
		{% endif %}
		<span>{{ author_data.first_name }} {{ author_data.last_name }}</span>
	</div>
	{% endif %}
</div>
