{% assign section = include.section %}

{% assign padding_top = section.padding_top | default: 'medium' %}
{% assign padding_bottom = section.padding_bottom | default: 'medium' %}
{% assign align_x = section.align | default: 'center' %}

{% assign bg_color = section.background_color | default: 'none' %}
{% assign bg_img_opacity_pct = section.background_image_opacity | default: 100 %}
{% assign bg_img_opacity = bg_img_opacity_pct | times: 0.01 %}
{% assign bg_img_size = section.background_image_size | default: 'cover' %}
{% assign bg_img_position = section.background_image_position | default: 'center center' %}
{% assign bg_img_repeat = section.background_image_repeat | default: 'no-repeat' %}

{% assign has_text = false %}
{% if section.title or section.content %}
	{% assign has_text = true %}
{% endif %}

{% assign has_actions = false %}
{% assign actions_is_not_empty = section.actions | is_not_empty %}
{% if actions_is_not_empty %}
	{% assign has_actions = true %}
{% endif %}
{% assign actions_width = section.actions_width | default: 'fifty' %}
{% assign actions_pos = section.actions_position | default: 'bottom' %}
{% if has_actions == false or has_text == false %}
	{% assign actions_pos = 'bottom' %}
{% endif %}

{% assign is_horiz = false %}
{% if actions_pos == 'left' or actions_pos == 'right' %}
	{% assign is_horiz = true %}
{% endif %}

{% assign is_vert = false %}
{% if actions_pos == 'top' or actions_pos == 'bottom' %}
	{% assign is_vert = true %}
{% endif %}

<section class="section cta{% assign has_border_is_not_empty = section.has_border | is_not_empty %}{% if has_border_is_not_empty %} has-border{% endif %}{% assign background_image_is_not_empty = section.background_image | is_not_empty %}{% if background_image_is_not_empty %} has-cover{% endif %}{% if bg_color == 'none' %} bg-none{% endif %}{% if bg_color == 'primary' %} bg-primary{% endif %}{% if bg_color == 'secondary' %} bg-secondary{% endif %}{% if padding_top == 'small' %} pt-4{% endif %}{% if padding_top == 'medium' or padding_top == 'large' %} pt-6{% endif %}{% if padding_top == 'large' %} pt-md-7{% endif %}{% if padding_bottom == 'small' %} pb-4{% endif %}{% if padding_bottom == 'medium' or padding_bottom == 'large' %} pb-6{% endif %}{% if padding_bottom == 'large' %} pb-md-7{% endif %}">

	{% assign background_image_is_not_empty = section.background_image | is_not_empty %}
	{% if background_image_is_not_empty %}
	<div class="cover-img" style="background-image: url('{{ section.background_image | relative_url }}'); opacity: {{ bg_img_opacity }}; background-size: {{ bg_img_size }}; background-repeat: {{ bg_img_repeat }}; background-position: {{ bg_img_position }}"></div>
	{% endif %}

	<div class="container{% assign is_vert_is_not_empty = is_vert | is_not_empty %}{% if is_vert_is_not_empty %} container--medium{% endif %}">
		<div class="cta__content grid items-center">
			{% assign has_text_is_not_empty = has_text | is_not_empty %}
			{% if has_text_is_not_empty %}
			<div class="cta__body my-1 cell-12{% if is_horiz and has_actions and actions_width == 'fourty' %} cell-md-7{% endif %}{% if is_horiz and has_actions and actions_width == 'fifty' %} cell-md-6{% endif %}{% if is_horiz and has_actions and actions_width == 'sixty' %} cell-md-5{% endif %}{% if align_x == 'center' %} text-center{% endif %}{% if align_x == 'right' %} text-right{% endif %}">
				{% assign title_is_not_empty = section.title | is_not_empty %}
				{% if title_is_not_empty %}
				<h1 class="cta__title">{{ section.title }}</h1>
				{% endif %}
				{% assign content_is_not_empty = section.content | is_not_empty %}
				{% if content_is_not_empty %}
				<div class="cta__copy">
					{{ section.content | markdownify }}
				</div>
				{% endif %}
			</div>
			{% endif %}
			{% assign has_actions_is_not_empty = has_actions | is_not_empty %}
			{% if has_actions_is_not_empty %}
			<div class="cta__actions my-1 cell-12{% if is_horiz and has_text and actions_width == 'fourty' %} cell-md-5{% endif %}{% if is_horiz and has_text and actions_width == 'fifty' %} cell-md-6{% endif %}{% if is_horiz and has_text and actions_width == 'sixty' %} cell-md-7{% endif %}{% if has_actions and actions_pos == 'left' %} order-md-first{% endif %}{% if has_actions and actions_pos == 'top' %} order-first{% endif %}">
				<div class="cta__actions btn-group{% assign is_horiz_is_not_empty = is_horiz | is_not_empty %}{% if is_horiz_is_not_empty %} justify-md-center{% endif %}{% if align_x == 'center' %} justify-center{% endif %}{% if align_x == 'right' %} justify-end{% endif %}">
					
					{% include section_actions.html actions=section.actions %}
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</section>
