<header class="site-header py-2">
	<div class="container">
		<nav class="navbar flex items-center" aria-label="Main Navigation">
			<a class="sr-only" href="#content">Skip to main content</a>
			<div class="navbar__branding mr-2">
				{% assign logo_is_not_empty = site.header.logo | is_not_empty %}
				{% if logo_is_not_empty %}
				<a class="navbar__logo m-0" href="{{ '/' | relative_url }}"><img src="{{ site.header.logo | relative_url }}" alt="{{ site.header.title }}" /></a>
				{% else %}
				<a class="navbar__title h4 m-0" href='{{ '/' | relative_url }}'>{{ site.header.title }}</a>
				{% endif %}
			</div>
			{% if site.header.has_primary_nav or site.header.has_secondary_nav %}
			<div class="navbar__container flex-md-auto">
				<div class="navbar__scroller">
					<div class="navbar__inner">
						<button aria-label="Close" class="btn btn--icon btn--clear navbar__close-btn js-nav-toggle">
							
							{% include icon.html icon='close' %}
							<span class="sr-only">Close</span>
						</button>
						<div class="navbar__menu flex-md">
							{% if site.header.has_primary_nav and site.header.primary_nav_links %}
								
								{% include header_menu.html header_menu=site.header.primary_nav_links page=page %}
							{% endif %}
							{% if site.header.has_secondary_nav and site.header.secondary_nav_links %}
								
								{% include header_menu.html header_menu=site.header.secondary_nav_links page=page %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			<button aria-label="Menu" class="btn btn--icon btn--clear navbar__menu-btn js-nav-toggle ml-auto">
				
				{% include icon.html icon='menu' %}
				<span class="sr-only">Menu</span>
			</button>
			{% endif %}
		</nav>
	</div>
</header>
