{% assign section = include.section %}

{% assign padding_top = section.padding_top | default: 'medium' %}
{% assign padding_bottom = section.padding_bottom | default: 'medium' %}
{% assign align_x = section.align | default: 'center' %}

{% assign bg_color = section.background_color | default: 'none' %}
{% assign bg_img_opacity_pct = section.background_image_opacity | default: 100 %}
{% assign bg_img_opacity = bg_img_opacity_pct | times: 0.01 %}
{% assign bg_img_size = section.background_image_size | default: 'cover' %}
{% assign bg_img_position = section.background_image_position | default: 'center center' %}
{% assign bg_img_repeat = section.background_image_repeat | default: 'no-repeat' %}

{% assign has_text = false %}
{% if section.title or section.subtitle or section.content or section.actions %}
	{% assign has_text = true %}
{% endif %}

{% assign has_media = false %}
{% if section.image or section.video_embed_html %}
	{% assign has_media = true %}
{% endif %}
{% assign media_width = section.media_width | default: 'fifty' %}
{% assign media_pos = section.media_position | default: 'top' %}
{% if has_media == false or has_text == false %}
	{% assign media_pos = 'top' %}
{% endif %}

{% assign is_horiz = false %}
{% if media_pos == 'left' or media_pos == 'right' %}
	{% assign is_horiz = true %}
{% endif %}

{% assign is_vert = false %}
{% if media_pos == 'top' or media_pos == 'bottom' %}
	{% assign is_vert = true %}
{% endif %}

<section class="section hero{% assign has_border_is_not_empty = section.has_border | is_not_empty %}{% if has_border_is_not_empty %} has-border{% endif %}{% assign background_image_is_not_empty = section.background_image | is_not_empty %}{% if background_image_is_not_empty %} has-cover{% endif %}{% if bg_color == 'none' %} bg-none{% endif %}{% if bg_color == 'primary' %} bg-primary{% endif %}{% if bg_color == 'secondary' %} bg-secondary{% endif %}{% if padding_top == 'small' %} pt-4{% endif %}{% if padding_top == 'medium' or padding_top == 'large' %} pt-6{% endif %}{% if padding_top == 'large' %} pt-md-7{% endif %}{% if padding_bottom == 'small' %} pb-4{% endif %}{% if padding_bottom == 'medium' or padding_bottom == 'large' %} pb-6{% endif %}{% if padding_bottom == 'large' %} pb-md-7{% endif %}">

	{% assign background_image_is_not_empty = section.background_image | is_not_empty %}
	{% if background_image_is_not_empty %}
	<div class="cover-img" style="background-image: url('{{ section.background_image | relative_url }}'); opacity: {{ bg_img_opacity }}; background-size: {{ bg_img_size }}; background-repeat: {{ bg_img_repeat }}; background-position: {{ bg_img_position }}"></div>
	{% endif %}

	<div class="container{% assign is_vert_is_not_empty = is_vert | is_not_empty %}{% if is_vert_is_not_empty %} container--medium{% endif %}">
		<div class="hero__content grid items-center">
			{% assign has_media_is_not_empty = has_media | is_not_empty %}
			{% if has_media_is_not_empty %}
			<div class="hero__media my-2 cell-12{% if is_horiz and has_text and media_width == 'fourty' %} cell-md-5{% endif %}{% if is_horiz and has_text and media_width == 'fifty' %} cell-md-6{% endif %}{% if is_horiz and has_text and media_width == 'sixty' %} cell-md-7{% endif %}">
				{% assign video_embed_html_is_not_empty = section.video_embed_html | is_not_empty %}
				{% if video_embed_html_is_not_empty %}
					{{ section.video_embed_html }}
				{% else %}
					<img src="{{ section.image | relative_url }}" alt="{{ section.title }}" class="{% if align_x == 'center' %}mx-auto{% endif %}{% if align_x == 'right' %} ml-auto{% endif %}" />
				{% endif %}
			</div>
			{% endif %}
			{% assign has_text_is_not_empty = has_text | is_not_empty %}
			{% if has_text_is_not_empty %}
			<div class="hero__body my-2 cell-12{% if is_horiz and has_media and media_width == 'fourty' %} cell-md-7{% endif %}{% if is_horiz and has_media and media_width == 'fifty' %} cell-md-6{% endif %}{% if is_horiz and has_media and media_width == 'sixty' %} cell-md-5{% endif %}{% if has_media and media_pos == 'right' %} order-md-first{% endif %}{% if has_media and media_pos == 'bottom' %} order-first{% endif %}{% if align_x == 'center' %} text-center{% endif %}{% if align_x == 'right' %} text-right{% endif %}">
				{% assign title_is_not_empty = section.title | is_not_empty %}
				{% if title_is_not_empty %}
				<h1 class="hero__title">{{ section.title }}</h1>
				{% endif %}
				{% assign subtitle_is_not_empty = section.subtitle | is_not_empty %}
				{% if subtitle_is_not_empty %}
				<p class="hero__subtitle">{{ section.subtitle }}</p>
				{% endif %}
				{% assign content_is_not_empty = section.content | is_not_empty %}
				{% if content_is_not_empty %}
				<div class="hero__copy">
					{{ section.content | markdownify }}
				</div>
				{% endif %}
				{% assign actions_is_not_empty = section.actions | is_not_empty %}
				{% if actions_is_not_empty %}
				<div class="hero__actions btn-group{% if align_x == 'center' %} justify-center{% endif %}{% if align_x == 'right' %} justify-end{% endif %}">
					
					{% include section_actions.html actions=section.actions %}
				</div>
				{% endif %}
			</div>
			{% endif %}
		</div>
	</div>
</section>
