---
layout: base
---

<div id="site-wrap" class="site">

	{% if site.header.has_anncmnt and site.header.anncmnt_content %}
		{% assign anncmnt_is_home_only_is_not_empty = site.header.anncmnt_is_home_only | is_not_empty %}
		{% if anncmnt_is_home_only_is_not_empty %}
			{% if page.url == '/' %}
				
				{% include announcement.html site=site %}
			{% endif %}
		{% else %}
			
			{% include announcement.html site=site %}
		{% endif %}
	{% endif %}

	{% include header.html %}

	<main id="content" class="site-content">
		{{ content }}
	</main>

	{% include footer.html %}

</div>

{% if site.header.has_primary_nav or site.header.has_secondary_nav %}
<div class="nav-overlay js-nav-toggle"></div>
{% endif %}
